@media screen and (max-width: $VL){
	.header{
		.mark {
			@include square(calc(4px*8), calc(4px*6));
			@include logo(4px, $brand-contrast);
			@include transform(rotateY(360deg) rotateX(360deg) skew(-30deg) translateY(-50%));
		}
	}
}

@media screen and (max-width: $L){
	body{
		font-size: calc(6px + 0.5vw);
	}
}

@media screen and (max-width: $M){
	body{
		font-size: calc(8px + 0.5vw);
	}
	header{
		width: 100vw;
		h1{
			font-size: calc(22px + 0.5vw);
		}
		.menu-control{
			width: calc(#{$vertical-size}/2 + #{$space-amount} + 3em)
		}
	}
	.last-expanders{
		display: auto;
	}
	.expander{
		.pagers{
			top:0;
			@include transform(none);
			width: calc(100vw);
			.pager{
				&.previous, &.next{
					@include transform(none);
					.label{
						margin: 0 $space-amount;
						min-width: 0;
					}
				}
				&.next .label{
					margin-left: 0;
				}
				&.previous .label{
					margin-right: 0;
				}
				.button{
					min-width: 11em;
					max-width: 11em;
				}
			}
		}
		&.left, &.right{
			width: 100%;
			float: none;
			padding: 0 $space-amount;
		}
	}
	.grid{
		padding-right: 0;
		padding-left: 0;
		width: calc(100% + #{$space-amount}*2);
		transform: translateX(calc(#{$space-amount}*-1));
		.grid-element{
			width: calc(100%/2 - #{$space-amount});
			margin: calc(#{$space-amount}/4);
		}
	}
	.content{
		width: 90%;
	}
	.central{
		padding-right: $space-amount;
		padding-left: $space-amount;
		.mark{
			@include logo(11px, white);
			@include square(calc(11px*8), calc(11px*6));
			@include transform(translateX(-50%) skew(-30deg));
		}
	}
	.button{
		min-width: 14em;
	}
}

@media screen and (max-width: $ML){
	.additional{
		ul{
			padding-left: 0;
			li{
				width: 100%;
				height: auto;
				margin: 0 0 calc(#{$vertical-size}/4);
				h4{
					float: none;
					text-align: center;
					max-width: 100%;
				}
				.button{
					float: none;
					@include center(horizontal);
					margin: 1em 0 0;
				}
			}
		}
	}
}