.additional{
	padding: $vertical-size 0;
	background-color: $brand;
	h2{
		color: $white;
		text-align: center;
		margin-bottom: $space-amount;
	}
	h4{
		@include justify(center, column);
		color: $white;
		font-weight: 900;
		margin: 0 2em;
		float: left;
		padding-top: 1em;
	}
	ul{
		margin: 0;
		li{
			list-style: none;
			@include square(50%, 3em);
			@include center(horizontal);
			margin: calc(#{$vertical-size}/4);
		}
	}
	.button{
		margin: 0 2em;
		left: auto;
		float: right;
		@include transform(translateX(0));
		&:before{
			border: 2px solid $white;

		}
		&:hover:before{
			border:solid 2px transparent;
		}
	}
}