.sign_up{
	background-color: $brand;
	color:$white;
	padding: 0;
	form{
		margin: 0 auto;
		margin-top: calc(#{$vertical-size}/2);
		@include square(34em, calc(#{$space-amount}*1.5));
		position: relative;
		max-width: 90%;
		&:before{
			content: ' ';
			@include transition(all 0.5s);
			width: calc(100% + 2em);
			height: 3em;
			@include position(absolute, 0, 50%);
			@include transform(skewX(-25deg) translate(-50%));
			z-index: 0;
			background: $white;
		}
		input{
			z-index: 1;
			border:none;
			@include square(100%);
			position: relative;
			&:focus{
				outline: none;
			}
		}
		.button{
			@include position(absolute, 0, auto, null, -1px);
			z-index: 1;
			min-width: 10em;
			@include transform(none);
		}
	}
	p{
		text-align: center;
	}
	.content-block{
		margin: $vertical-size auto;
		&.deactivated{
			overflow: hidden;
			max-height: 0 !important;
			margin-bottom: 0;
		}
	}
	.confirmation{
		overflow: hidden;
		height: 30em;
		max-height: 0;
		border-color: transparent;
		&.active{
			max-height: 20em;
		}
	}
}

body.confirmation-page{
	overflow: hidden;
	padding: 0;
	background-color: $brand;
	.sign_up .content-block{
		margin: 0 auto;
	}
}